
//outter container for all of blog page posts
.blog-container{
margin: 0 auto;
}

//inner container for all of blog page posts
.project-page-posts-container{
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

//styles the header links ---------------------------------------------------/
.blog-header a{
  text-decoration: none;
  transition: .2s;
  background-color:#DC2E57;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

.blog-header a h2 {
  color: white;
  background-color:#DC2E57;
  text-align: center;
  margin: 0;
  line-height: 43px;
  text-align: left;
}

.blog-header a:hover{
  transition: .2s;
  background-color:white;
  display: inline-block;
  padding: -1px 9px -1px 9px;
  border: 1px solid #DC2E57;
}

.blog-header a:hover h2{
  transition: .2s;
  color: #DC2E57;
  background-color:white;
  display: inline-block;

}

//takes the input from the post content, shows it in the header above the
//posts and projects loop.
.blog-page-text{
  width:80% !important;
}

//removes the padding set in the posts and projects articles ----------------/
.blog-content div section{
  width: inherit;
}

// displays the header graphic that is hidden on the projects page ---------/
.blog-content > div > .project-blurb > p > .blog-header-image{
  display:inline-block;
  margin-bottom: 20px;
}

//moves the author title closer to the header
.blog-content > div > .project-blurb > .author{
  margin-top: 0px;
}


//pagination controls ----------------------------------------//
.prev-next-posts{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: right;
  font-family: $popins;
  text-transform: uppercase;
  letter-spacing: 5px;

}

.prev-next-posts div a{
  color: #4f4f4f;
  background-color:white;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  transition: .2s;
}

.prev-next-posts div a:hover{
  color: white;
  background-color:#ccc;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  transition: .2s;
}

//-------tags
.tags-links a{
  color: #DC2E57;
  background-color:white;
  border: 1px solid #DC2E57;
  padding-left:5px;
  padding-right: 5px;
  font-family:$heebo;
  transition: 0.3s ease-in;
  text-decoration: none;
  margin-top:5px;
  display: inline-block;
}

.tags-links a:hover{
  color:white;
  background-color:#DC2E57;
  transition: 0.3s ease-in;
}
// entry title:

.entry-title{
line-height: 50px;
width: 90%;
margin-top: 5%;
margin-left: auto;
margin-right: auto;
text-align: left;
}

.entry-meta{
width: 90%;
margin: 0 auto;
text-align: left;
}

@media (max-width:695px) and (min-width:0px) {
.entry-title{
 }
}

@media (max-width:490px) and (min-width:0px) {
 .entry-title{
  line-height: 36px;
  width:95%;
  font-size: 39px;
 }

 .entry-meta{
   width:95%;
 }
}

//--------------tags in project pages

.project-tags{
  margin-top:5%;
  margin-bottom: 5%;
}

//------------------------ tags page
.entry-title a{
text-decoration: none;
color: #4f4f4f;
}

.entry-title a:focus{
text-decoration: none;
color: #4f4f4f;
}

.entry-title a:visited{
text-decoration: none;
color: #4f4f4f;
}

// archive-header -----------------------//

.archive-header > .page-title{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

//archive results:

.results{
font-family: heebo;
font-weight: 200;
color: #ccc;
text-transform: uppercase;
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
}

.results-number{
padding-left: 10px;
padding-right: 10px;
font-family: poppins;
color: crimson;
}

//search ------------------------
.search-title a:hover{
  color: white;
}
