#wp-custom-header-video-button{
  float: right;
  top: 2%;
  right: 2%;
  position:absolute;
}

.wp-custom-header-video-play{
background-color: rgba(1,0,0,0.5)
}


.wp-custom-header-video-pause{
 background-color: red;
}
