

// remove all text decorarion from the header
.site-title{
  text-align: center;
}

.site-title a {
  text-decoration: none;
  color: #000;
}

.site-title a:link {
    text-decoration: none;
}

.site-title a:visited {
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: none;
}

.site-title a:active {
    text-decoration: none;
}

// end of remove info from title
.site-description{
  text-align: center;
}



//For header logo ----------------------------------//
.header-outter-container{
  position: absolute;
  top: 15%;
  display: flex;
  max-width: 2000px;
  width: 100%;
}
.header-container{
margin: 0 auto;
width: 95%;
display: flex;

}

.header-container img{
  margin: 0 auto;
  max-width: 250px;
  max-height: 250px;
}



// Site header images which are set in the customizer --------------/

#header_image div img{
    width: 100% ;
    height: auto ;
    min-height: 85vh;
}

// Move the site title link over the header image ---------//

#page_header_container{
  margin-bottom: -7px;
}

#site_tite_and_description{
  position: absolute;
  top: 0;
  margin-top: 2%;
  margin-left: 2%;
  width: 100%;
}

#site_tite_and_description h1{
  position: relative;
  margin-bottom: 0;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;

}

.site-description{
font-size: 50px;
margin-top:-35px;
margin-bottom:0px;
text-align: left;
padding-left:25px;
color: white;
font-family: $amantic;
}

#site_tite_and_description h1 a{
  color: white;
  font-family: $amantic;
  font-size: 50px;

}

#site_tite_and_description #post_title{
  position: relative;
  margin-top: 0;
  color: white;
  padding-left: 25px;
  font-size: 30px;
  text-align: left;
  font-family: $popins;
  text-transform: uppercase;
}

#site_tite_and_description #post_title p {
  margin-bottom: 0px;
  margin-top:0px;
}
//------- header arrow ----/

#post_arrow{
  text-align: center;
  margin-top:25%;
  padding-left:-2%;
}

#post_arrow {
list-style: none;
}

#post_arrow li a {
  outline: 0;
}

#post_arrow .fa-arrow-circle-down{
   font-size: 45px;
   margin-right: 0 auto;
   margin-left: 0 auto;
   margin-top: 25px;
   color: rgba(255,255,255,0.1);
   transition: 1s;
   cursor: pointer;
   animation-name: enter;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-out;
   animation-delay: 1s;
}

#post_arrow .fa-arrow-circle-down:hover{
  color: rgba(255,255,255,0.9);
}

#projects_link{
width: 100%;
text-align: center;
}

//header arrow animation
// animation for the arrow and arrow container
@keyframes enter {
    0% {}
    3% {}
    98%{color: rgba(255,255,255,0.9);}
}

//Device widths media queries ------------------------//

@media (max-width:695px) and (min-width:0px) {
  #page_header_container{
    text-align: center;
  }

  #site_tite_and_description{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
  }

  #site_tite_and_description h1 a{
  font-size: 25px;
  }

  #site_tite_and_description p{
  font-size: 25px;
  }

  #post_arrow{
    text-align: center;
  }
  .site-description{
  margin-top:-15px;
}

}
//small devices portrait
  @media (max-width:490px) and (min-width:0px) {


}

// end of devices -------------------------------------------------------//

//For video headers if activated outside of plugin.
#wp-custom-header-video-button{
  float: right;
  top: 2%;
  right: 2%;
  position:absolute;
}

.wp-custom-header-video-play{
background-color: rgba(1,0,0,0.5)
}


.wp-custom-header-video-pause{
 background-color: red;
}
//header media queries
@media (max-width:910px) and (min-width:0px) {

  .header-outter-container{
    top: 13%;
    width: 100%;
  }

  .header-container img{
    width: 35%;
    height: 100%;
    }

}

@media (max-width:500px) and (min-width:0px) {
  .header-outter-container{
    top: 8%;
    width: 100%;
  }

}
// ------- end of header logo -----------------------//

//added and removed with jQuery
.hover{
  opacity: 0.1;
  transition: ease-in-out opacity 1s;
  cursor: pointer;
}

.off-hover{
  opacity: 1;
  transition: ease-in-out opacity 1s;
}

// --------- end of headers activated outside of plugin ---------------//
