
// remove all text decorarion from the header
.site-title{
  text-align: center;
}

.site-title a {
  text-decoration: none;
  color: #000;
}

.site-title a:link {
    text-decoration: none;
}

.site-title a:visited {
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: none;
}

.site-title a:active {
    text-decoration: none;
}

// end of remove info from title
.site-description{
  text-align: center;
}



//For header logo ----------------------------------//
.header-outter-container{
  position: absolute;
  top: 15%;
  display: flex;
  width: 100%;
}
.header-container{
margin: 0 auto;
width: 95%;
display: flex;

}

.header-container img{
  margin: 0 auto;
}

.header-container img{
  max-width: 250px;
  max-height: 250px;

}


@media (max-width:910px) and (min-width:0px) {

  .header-outter-container{
    top: 13%;
    width: 100%;
  }

  .header-container img{
    width: 35%;
    height: 100%;
    }

}

@media (max-width:500px) and (min-width:0px) {
  .header-outter-container{
    top: 8%;
    width: 100%;
  }

}

//added and removed with jQuery
.hover{
  opacity: 0.1;
  transition: ease-in-out opacity 1s;
  cursor: pointer;
}

.off-hover{
  opacity: 1;
  transition: ease-in-out opacity 1s;
}
// ------- end of header logo -----------------------//


//For video headers if activated outside of plugin.
#wp-custom-header-video-button{
  float: right;
  top: 2%;
  right: 2%;
  position:absolute;
}

.wp-custom-header-video-play{
background-color: rgba(1,0,0,0.5)
}


.wp-custom-header-video-pause{
 background-color: red;
}

// --------- end of headers activated outside of plugin ---------------//
