body{
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  line-height: 1.6;
  font-family: arial;
}

.site-content{
  border: 3px solid green;
  display: flex;
}

.content-area{
border: 3px solid red;
width: 70% !important;
}

.widget-area{
  border: 3px solid blue;
  width:30% !important;
}

.box{
  margin:5px;
  padding: 10px;
  width: 100%;
}
