body{
  width: 100%;
  margin: 0 auto;
  line-height: 1.6;
  font-family: arial;
}


.site-content{
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.content-area{
width: auto;
flex: 3;
text-align: center;
}

.widget-area{
  border: 3px solid blue;
  flex: 1;
}

.box{
  margin:5px;
  padding: 10px;
  width: 100%;
}

.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video {
  position: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
}
