.site-footer{
  width: 100%;
  margin: 0 auto;
  background-color: #212121;
  color: white;
  font-size: 10px;
}

.site-info{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4%;
}

footer .site-info{
  margin-bottom: 4%;
}


.icons{
  width: 100%;
  margin-top: 4%;
  text-align: center;
  font-size: 15px;
  margin-bottom: 2%;
}

.icons i{
 padding: 30px;
 transition: .5s linear;
}

.icons a{
 text-decoration: none;
 color: white;
}

.icons a:visited{
color:white;
}

.copyright{
  width: 100%;
  margin:0 auto;
  text-align: center;
  font-size: 13px;
  font-family: $heebo;
}




.footer-icon:hover{
  font-size: inherit;
  color: white;
  cursor: pointer;
  background-color:#DC2E57;
  transition: .5s linear;

}


//current menu highlight

.current-menu-item a{
background: white !important;
border: 1px solid #4f4f4f !important;
color: #4f4f4f !important;
transition: .5s linear;
}

.current-menu-item:hover{
  background-color: white !important;
  border-bottom: 0px solid white !important;
  display: initial!important;
}



//contact page form container
.flex{
  margin: 0 auto;
  width:80%;
  display: flex;
}

//contact page form
#contact_page_form{
  margin: 0 auto;
  width: 80%;
  flex: 1.6;
}

#aboutMe_Blurb{
 flex: 0.9;
 padding-left: 5%;
}



@media (max-width:730px) and (min-width:0px) {
  #contact_page_form div form #myForm{
    display: initial!important;
  }

  #contact_page_form div form #myForm h2{
    font-size: 1.3em;
  }


  .flex{
    display: initial!important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .no-matches form{
    display: inline-block!important;
  }

}

@media (max-width:490px) and (min-width:0px) {


  .icons i{
   padding: 15px;
  }

  .copyright{
    margin-top:4%;
  }

  footer .site-info{
    margin-bottom: 10%;
  }

}
