



//home - site title and description
.home-site-title{
  height:100vh;
  margin-left:0% !important;
  margin-top:0% !important;
  background-color: rgba(33,33,33,0.2);
}

.home-site-title > h1 {
  margin-top: 0px;
  color: crimson;
}



@media (max-width:695px) and (min-width:0px) {

  .home-site-title{
    height:100vh!important;
    margin-left:0% !important;
    margin-top:0% !important;
    position: fixed!important;
    background-color: rgba(33,33,33,0.2)!important;

  }

  .home-site-title > h1 > a{
    margin-top: 0px;
    font-size: 45px !important;
  }

  .home-site-title > p{
    margin-top: -27px;
    font-size: 42px !important;
  }

  .home{
    height: 180vh;
  }




}

//smallest devices portrait
@media (max-width:490px) and (min-width:0px) {

    .home-site-title{
      height:100vh!important;
      margin-left:0% !important;
      margin-top:0% !important;
      background-color: rgba(33,33,33,0.2)!important;

    }

    .home-site-title > h1{
      padding-left:10px!important;
    }

    .home-site-title > h1 > a{
      margin-top: 0px;
      font-size: 35px !important;
    }

    .home-site-title > p{
      margin-top: -20px;
      font-size: 32px !important;
      padding-left:10px;

    }



    //all other burger-nav stuff in the whippNav.scss added here for ease.
    .burger-nav{
      right:2px;
      top:-5px;
      width:40px;
    }

    .burger-nav span{
      height: 4px;
    }

    .burger-nav span:nth-child(1){
    top: 0px;
    }

    .burger-nav span:nth-child(2){
    top: 10px;
    }

    .burger-nav span:nth-child(3){
    top:20px;
    }

}







/* ----------------------------------------------------//

  FULL SCREEN VIDEO BACKGROUND ON HOMEPAGE
  Positioning for fullscreen
  Media queries for smaller devices

//-----------------------------------------------------*/

//Video on the home page only -full_screen ---------------------------------/
#video_home_full > header > #my_player_container{
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

#video_home_full > header > #my_player_container > #myPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


@media (min-aspect-ratio: 16/9) {
  #video_home_full > header > #my_player_container {
    height: 300% !important;
    top: -100%;
    width: 110%;
   }
}
    @media (max-aspect-ratio: 16/9) {
    #video_home_full > header > #my_player_container{
     width: 300%;
     left: -100%;
   }
}

// end of video section ------------------------------//


// media query (medium sized screens)---------------------------------------//
@media (max-width:910px) and (min-width:0px) {
     //video container
     #video_home_full #masthead #my_player_container{
      //must set these values to over-ride plugin
      position: fixed;
      height: inherit;
      overflow: inherit;
      padding-bottom: 0px;
      }
}


@media (max-width:490px) and (min-width:0px) {
      #video_home_full > header > #my_player_container{
        width: 318%; left: -71%;
      }


}


// media queries for iphones ----------------------------------------

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .home{
      height: 180vh !important;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .home{
      height: 180vh !important;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .home{
      height: 180vh !important;
    }
}
