
//Video on the home page only -full_screen ---------------------------------/
#video_home_full > header > #my_player_container{
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

#video_home_full > header > #my_player_container > #myPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


@media (min-aspect-ratio: 16/9) {
  #video_home_full > header > #my_player_container {
    height: 300% !important;
    top: -100%;
    width: 110%;
   }
}
    @media (max-aspect-ratio: 16/9) {
    #video_home_full > header > #my_player_container{
     width: 300%;
     left: -100%;
   }

}

// end of video section ------------------------------//

//hide the site image on the home page
#video_home_full > header > .site-branding{
  display: none;
}
//hide the site title on the home page
#video_home_full > header > .entry-title{
  display: none;
}

//hide the page title on the homepage
 .my-home-page > #main > article > .entry-header{
  display: none;
}

//hide the burger nav on the home page
#video_home_full > header > .burger-nav{
  display: none;
}

// name and title text -----------------------//
.home-text{
  width: 100%;
  margin: 0 auto;
  padding-top: 125px;

}

.home-text:hover{
  cursor: pointer;
}

.home-text > h1, .home-text > h2 {
  color: #4f4f4f;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  font-size: 3em;
}
//my name text
#home_name{
  font-family: $amantic;
  font-size: 2em;
  text-transform: uppercase;
  color: #4f4f4f;
  padding-left: 30px;
  padding-bottom: 2px;
  text-align: left;
}

//my title text
#home_title{
  font-family: $popins;
  text-transform: uppercase;
  text-align: left;
  padding-left: 30px;
}

// animate the icon within the container
#arrow_container > .fa{
  color: white;
  font-size: 39px;
  margin: 0 auto;
  animation-name: container;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 1px transparent solid;
  border-radius: 50%;
  padding: 10px;
}

// animate the movement of the container
.arrow-container{
  width: 100%;
  visibility: hidden;
  animation-name: moveArrow;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

// animation for the arrow and arrow container
@keyframes container {
    0% {background-color: #4f4f4f;}
    3% {opacity: 1;}
    98%{opacity: 0; padding: 45px;}
}

@keyframes moveArrow{
  5%{opacity: 1;}
  6%{visibility:visible;}
  94%{opacity: 0;}
  97%{visibility:hidden;}
}
// end of animation

//toggled class with JS to remove the arrow after the nav has been activated
.hidden-arrow{
  display: none;
}

// media query (medium sized screens)---------------------------------------//
@media (max-width:910px) and (min-width:0px) {

     //video container
     #video_home_full #masthead #my_player_container{
      //must set these values to over-ride plugin
      position: fixed;
      height: inherit;
      overflow: inherit;
      padding-bottom: 0px;
      }

     //shrink down the home page text
    .home-text{
      margin-top: -80px;
      margin-bottom: 200px;
      }

      //alter the dimensions of the headings
      .home-text > h1, .home-text > h2 {
       color: #4f4f4f;
       width: 85%;
       background-color: #fff;
       margin: 0 auto;
       font-size: 2em;
     }

      #arrow_container{
      width: 100%;
      }

      #arrow_container > .fa{
        font-size: 34px;
        padding: 8px;
      }

      @keyframes moveArrow{
        5%{opacity: 1;}
        6%{visibility:visible;}
        94%{opacity: 0;}
        97%{visibility:hidden;}
      }
}

@media (max-width:490px) and (min-width:0px) {

      #video_home_full > header > #my_player_container{
        width: 350%; left: -71%;
      }

      .home-text{
        width: 90%;
        margin: 0 auto;
        padding-top: 75px;
      }


      .home-text > h1, .home-text > h2 {
        color: #4f4f4f;
        width: 100%;
        background-color: #fff;
     }

      #home_name{
        font-size: 1.7em;
        text-align: center;
        padding: 0;
      }

       #home_title{
         font-size: 1.9em;
         text-align: center;
         padding: 0;
         letter-spacing: -1.4px;
       }


       .arrow-container{
         margin-top: 20px;
       }

      #arrow_container > .fa{
        font-size: 30px;
        padding: 7px;
      }

     @keyframes moveArrow{
       5%{opacity: 1;}
       6%{visibility:visible;}
       94%{opacity: 0;}
       97%{visibility:hidden;}
     }

     @keyframes container {
         0% {background-color: #4f4f4f;}
         3% {opacity: 1;}
         98%{opacity: 0; padding: 25px; }
     }

}
