#video_home_full > header > #my_player_container{
  //must set these values to over-ride plugin
  top: 0;
  left: 0;
  //width: 100%;
  //height: 85vh;
  // --------------- */
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

#video_home_full > header > #my_player_container > #myPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


@media (min-aspect-ratio: 16/9) {
  #video_home_full > header > #my_player_container {
    height: 300% !important;
    top: -100%;
    width: 110%;
   }
}
    @media (max-aspect-ratio: 16/9) {
    #video_home_full > header > #my_player_container{
     width: 300%;
     left: -100%;
   }

}

#video_home_full > header > .site-branding{
  display: none;
}

#video_home_full > header > .entry-title{
  display: none;
}

 .my-home-page > #main > article > .entry-header{
  display: none;
}

#video_home_full > header > .burger-nav{
  display: none;
}

.home-text{
  width: 100%;
  margin: 0 auto;
  padding-top: 125px;

}

.home-text:hover{
  cursor: pointer;
}

.home-text > p{
  color: #4f4f4f;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  font-size: 3em;
}

#arrow_container{

}


#arrow_container > .fa{
  color: white;
  font-size: 39px;
  margin: 0 auto;
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 1px transparent solid;
  border-radius: 50%;
  padding: 10px;
  animation-delay: 10s;
}

.hidden-arrow{
  display: none;
}

.arrow-container{
  width: 100%;
  margin-top: 130px;
  visibility: hidden;
  animation-name: moveArrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 10s;
}

@keyframes example {
    0%   {background-color: crimson;}
    3% {opacity: 1;}
    98%{opacity: 0;}
    100% {background-color: crimson;}
}

@keyframes moveArrow{
  5%{opacity: 1;}
  6%{visibility:visible;}
  94%{opacity: 0;}
  97%{visibility:hidden;}
  100% {margin-top: -120px;}
}

 #home_name{
   font-family: $amantic;
   font-size: 2em;
   text-transform: uppercase;
   background-color: #4f4f4f;
   color: #fff;
   padding-left: 30px;
   text-align: left;
 }

 #home_title{
   font-family: $roboto;
   text-transform: uppercase;
   text-align: left;
   padding-left: 30px;
 }


@media (max-width:910px) and (min-width:0px) {
#video_home_full #masthead #my_player_container{
      //must set these values to over-ride plugin
      position: fixed;
      height: inherit;
      overflow: inherit;
      padding-bottom: 0px;
    }

    .home-text{
      margin-top: -80px;
      margin-bottom: 200px;
      }

    .home-text > p{
      color: #4f4f4f;
      width: 85%;
      background-color: #fff;
      margin: 0 auto;
      font-size: 2em;
    }
    #arrow_container{
      width: 100%;
    }

    #arrow_container > .fa{
      font-size: 34px;
      padding: 8px;
    }
    @keyframes moveArrow{
      0%{visibility:visible;}
      80%{opacity: 0;}
      100% {margin-top: -90px;}
    }
}

@media (max-width:490px) and (min-width:0px) {

  .home-text{
    width: 95%;
    margin: 0 auto;
    padding-top: 75px;
  }

  #video_home_full > header > #my_player_container{
    width: 350%; left: -71%;
  }

  .home-text > p{
    color: #4f4f4f;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    font-size: 1.3em;
 }
 #arrow_container > .fa{
   font-size: 32px;
   padding: 7px;
 }
 @keyframes moveArrow{
    0%{visibility:visible;}
      80%{opacity: 0;}
   100% {margin-top: -80px;}
 }

}
