.project_page_posts_container > .entry-content > h3{
display: none;
}

.entry-content{
  width: 85%;
}

#main-container{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

#main-container > .project_page_posts_container > article > .entry-content > .other-projects{
  display: none;
}

//Posts inside projects page text scss
.author{
text-align: left;
}

.author a{
  background-color: #DC2E57;
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right:10px;
  margin-top: 20px;
}

.project-blurb img{
  width: 100%;
}


.header-blurb{
  font-size:20px;
}

.project-blurb h1,h5{
  font-family: $raleway;
  text-transform: none;
}
.project-blurb h2,h3,h4{
  font-family: $heebo;
}

.project-blurb p a{
 //color: #333;
 color: #DC2E57;
 background-color:white;
 padding-left: 5px;
 padding-right: 5px;
 text-decoration: none;
 border: 1px solid #DC2E57;
}

.project-blurb p a:visited{
 text-decoration: none;
 color: #DC2E57;
}

.project-blurb p a:active{
 text-decoration: none;
 color: #DC2E57;
}

.project-blurb p a:focus{
 text-decoration: none;
 color: #DC2E57;
}

.project-blurb p a:hover{
 text-decoration: none;
 background-color: #DC2E57;
 color: white;
 transition: .4s ease-in;
}

.blog-blurb{
  font-size:0.85em;
  font-weight: 200;
}

.blog-mini-title{
  font-weight: 700;
  text-transform: none;
  font-size: 22px;
}
//projects page arrow


#post_arrow_projects {
list-style: none;
top: 49.5%;
width: 100%;
position: absolute;
text-align: center;

}

#post_arrow_projects .fa-arrow-circle-down{
   font-size: 45px;
   color: rgba(255,255,255,0.1);
   transition: 1s;
   cursor: pointer;
   animation-name: enter_projects;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-out;
   animation-delay: 1s;
}

#post_arrow_projects .fa-arrow-circle-down:hover{
  color: rgba(220,46,87,0.8);
}

//header arrow animation
// animation for the arrow and arrow container
@keyframes enter_projects {
    0% {}
    3% {}
    98%{color: rgba(220,46,87,0.8);}
}





//posts
.project-blurb{
  text-align: left;
  width: 85%;
  margin: auto;
}

@media (max-width:695px) and (min-width:0px) {
  //arrow top
  #post_arrow_projects {
    top: 46%;
 }
}

 @media (max-width:630px) and (min-width:0px) {
   //arrow top
   #post_arrow_projects {
    display: none;
  }

}

//change the font sizes small mobile
@media (max-width:490px) and (min-width:0px) {
  #header_container{
    display: none;
  }

  code{
    font-size: 12px;
  }

  .entry-title{
  line-height: 55px;
  font-size: 32px;
  }

  .author a{
   font-size: 16px;
 }

  .header-blurb{
    font-size:15px;
  }

  .blog-mini-title{
    font-size: 18px;
  }

  .blog-blurb{
    font-size: 15px;
  }

}
