@import url('https://fonts.googleapis.com/css?family=Cinzel|Hammersmith+One|Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Heebo:200|Just+Another+Hand|Poppins|Raleway:100');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Gidugu|Josefin+Slab|Playfair+Display|Yantramanav:700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Megrim|Roboto+Slab');

$cinzel: 'Cinzel', serif;
$hammer: 'Hammersmith One', sans-serif;
$julius: 'Julius Sans One', sans-serif;
$hand: 'Just Another Hand', cursive;
$popins: 'Poppins', sans-serif;
$heebo: 'Heebo', sans-serif;
$raleway: 'Raleway', sans-serif;
$bungee: 'Bungee Hairline', cursive;
$gidugu: 'Gidugu', sans-serif;
$yant: 'Yantramanav', sans-serif;
$josefin: 'Josefin Slab', serif;
$playfair: 'Playfair Display', serif;
$amantic: 'Amatic SC', cursive;
$bad_script: 'Bad Script', cursive;
$megrim: 'Megrim', cursive;
$roboto: 'Roboto Slab', serif;

.entry-header{
font-family: $popins;
color: #333;
text-transform: uppercase;
font-size: 1.7em;
}

#main > .entry-title{
  font-family: $popins;
  color: #333;
  text-transform: uppercase;
  font-size: 3.4em;
}

#projects_blurb{
  font-family: $heebo;
  color: #333;
  font-size: 1.5em;

}

.site-title{
  font-family: $popins;
  color: #333;
  text-transform: uppercase;
  font-size: 1.7em;
}

h3{
  font-family: $raleway;
  text-transform: uppercase;
  font-size: 1.5em;
}

.project-blurb {
  font-size: 1.4em;
  text-rendering:optimizeLegibility;
  color: #333;
  text-transform: none;
  font-family: $raleway;
}

p{
  font-family: $heebo;
}

//Nav Type ----------------------------//

#primary-menu{
  font-family: $popins;
  font-size: 2em;
}

#myNav nav ul li a{
  color: #4f4f4f;
}

#myNav nav ul li a:hover{
  color: #DB5870;
}

#myForm{
  font-family: $popins;
  font-size: 1.1em;
}

#myForm button {
 font-family: $raleway;
}

#myForm input, textarea{
font-family: $heebo;
font-weight: 200;
font-size: 1.4em;
}
//seatch button
.search-form input, button{
  font-family: $raleway;
}

.sub-menu{
  font-family: $heebo;
  font-size: 1.2em;
}
