@import url('https://fonts.googleapis.com/css?family=Cinzel|Hammersmith+One|Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Heebo:200|Just+Another+Hand|Poppins|Raleway');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Gidugu|Josefin+Slab|Playfair+Display|Yantramanav:700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Megrim|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Lato:300,400,700|Open+Sans:300,400,600i');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700');

$cinzel: 'Cinzel', serif;
$hammer: 'Hammersmith One', sans-serif;
$julius: 'Julius Sans One', sans-serif;
$hand: 'Just Another Hand', cursive;
$popins: 'Poppins', sans-serif;
$heebo: 'Heebo', sans-serif;
$raleway: 'Raleway', sans-serif;
$bungee: 'Bungee Hairline', cursive;
$gidugu: 'Gidugu', sans-serif;
$yant: 'Yantramanav', sans-serif;
$josefin: 'Josefin Slab', serif;
$playfair: 'Playfair Display', serif;
$amantic: 'Amatic SC', cursive;
$bad_script: 'Bad Script', cursive;
$megrim: 'Megrim', cursive;
$roboto: 'Roboto Slab', serif;
$open: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$droid: 'Droid Sans', sans-serif;
$heebo_light: 'Heebo', sans-serif;

.entry-header{
font-family: $popins;
color: #333;
text-transform: uppercase;
font-size: 1.7em;
}

#main > .entry-title{
  font-family: $popins;
  color: #333;
  text-transform: uppercase;
  font-size: 3.4em;
}

#projects_blurb{
  font-family: $heebo;
  color: #333;
  font-size: 1.5em;

}

.site-title{
  font-family: $popins;
  color: #333;
  text-transform: uppercase;
  font-size: 1.7em;
}

h3{
  font-family: $raleway;
  text-transform: uppercase;
  font-size: 1.5em;
}

.project-blurb {
  font-size: 1.4em;
  text-rendering:optimizeLegibility;
  color: #333;
  text-transform: none;
  font-family: $raleway;
}

p{
  font-family: $heebo;
}

//Nav Type ----------------------------//

#primary-menu li{
  font-family: $popins;
  font-size: 2em;
  color: #fff;
}

#primary-menu li a{
  padding: 0px 5px 0px 5px;
}

#primary-menu li a:hover{
background-color: crimson;
}

.sub-menu h2{
  background-color: #DC2E57;
  color: white;
  font-family: $heebo;
  font-weight: 400;
  padding-left: 5px;
  min-width: 185px;
  max-width: 185px;
}

.sub-menu li{
  padding: 0px 5px 0px 5px;
}

.sub-menu li a{
  color: #4f4f4f;
  font-weight: 100;
}

.sub-menu li:hover{
  background-color:#DC2E57;
  padding: 0px 5px 0px 5px;
}
.sub-menu li:hover > a{
  color: #fff;
}


#myForm{
  font-family: $popins;
  font-size: 1.1em;
}

#myForm h2{
  font-family: $popins;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fff;
  background-color: #4f4f4f;
  padding: 0px 5px 0px 5px;
}


#myForm input,
#myFrom textarea,
#myFrom label{
border: 1px solid #4f4f4f;
font-family: $heebo;
font-weight: 200;
font-size: 1.2em;
}

#myForm label{
text-transform: uppercase;
padding: 0 5px;
color: #4f4f4f;

}

#myForm textarea{
  resize: none;
  color: #4f4f4f;
  font-family: $heebo;
  border: 1px solid #4f4f4f;
}

#submitFormButton{
  text-transform: uppercase;
  font-family: $popins;
  font-size: 1em;
}


//search

#search-container h4{
  font-family: $popins;
  text-transform: uppercase;
  font-size: 1.5em;
  color: crimson;
  background-color: #fff;
  padding: 0px 5px 0px 5px;
}

.search-form > label > .search-field{
  background-color: rgba(220,20,60,0.5);
  color: white;
  font-family: $heebo;
  font-weight: 100;
  font-size: 1.6em;
  padding-left: 5px;
  padding-top: 10px;
  border: 0px;
}

.search-form > label > .search-field::placeholder{
  color: white;
  font-family: $heebo;
  font-weight: 100;
  font-size: 1.6em;
  padding-left: 5px;
  border: 0px;
}

.search-form > label > .search-field:focus{
  outline: none;
}

.search-form > input[type=submit]{
  text-transform: uppercase;
  font-family: $popins;
  font-size: 1em;
  background-color: white;
  color: crimson;
}

.sub-menu{
  font-family: $heebo;
  font-size: 1.2em;
}
//sidebar


//footer
.site-info{
  font-family: $popins;
  font-size: 1.5em;
}

.site-info a {
  text-decoration: none;
  color: white;
}

.site-info a:visited {
  text-decoration: none;
  color: white;
}
