
//hamburger icon
.burger-nav {
  width: 60px;
  height: 45px;
  top: 0px;
  right: 20px;
  position: fixed;
  margin: 20px auto;
  transform: rotate(0deg);
  cursor: pointer;
}

.burger-nav span{
  display: block;
    position: fixed;
    height: 9px;
    width: 90%;
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
}


.burger-nav span:nth-child(1){
top: 0px;
}

.burger-nav span:nth-child(2){
top: 18px;
}

.burger-nav span:nth-child(3){
top:36px;
}

//nav movement classes

.overlay {
    transition: 0.2s;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    overflow-x: hidden;
}

// toggle to show nav
.show-nav{
  width:100%;
  opacity: 1;
}

//surrounds all the nav elements from inside the #myNav container
#myNav_container{
display: flex;
width: 90%;
margin: 0 auto;
max-width: 1500px;
}

//left Elements -- elements to be displayed on the left
#leftElements{
flex:0.7;
text-align: left;
}

//right Elements -- elements to be displayed on the right
#rightElements{
  flex: 1.4;
  justify-content: left;
  margin-right: 15%;
  margin-left: 9%;
}


#myNav nav ul {
  list-style: none;
  padding-left: 0px;
}


#primary-menu li a{
  background-color: #4f4f4f;
  color: white;
}

.sub-menu{
max-width: 69%;
}

.sub-menu h2{
  text-transform: uppercase;
}

#myNav nav ul li a{
text-decoration: none;
}

.overlay-content {
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

//contact form in nav
#myForm{
flex: 1;
text-align:left;
color: #4f4f4f;
}

.formFlex{
 flex: 1;
 width:100%;
 margin: 0px 0px 10px 0px;
}

#myForm h3{
  margin-bottom: 5px;
}

#submitFormButton{
  border-radius: 0px;
  background-color: #4f4f4f;
  padding: 10px 0px;
  color: #fff;
}

#submitFormButton:hover{
  background-color: crimson;
}

#myForm #message{
  min-height: 200px;

}

//search button

.search-container{
display: table;
display: none;
margin-top:100px;
}

//font awrsome icons

#social_nav_container{
width: 100%;
}

#social_nav_container a{
text-decoration: none;
color: #4f4f4f !important;
}


.social-nav-inner-container{
  display: inline-block;
  text-align: center;
  width: 23%;
  margin-bottom: 8px;
  padding: 5px;
}

//full screen nav
#fs_social_nav_container{
position: absolute;
top:5px;
right: 5px;
width: 74px;
display: grid;
}

#fs_social_nav_container a{
text-decoration: none;
color: #4f4f4f !important;
}

.fs-social-nav-inner-container{
  display: inline-block;
  width: 100%;
  margin: 8px auto;
  padding: 5px;
}

.fs{
  float: right;
  margin-right: 20px;
}

.fa-twitter::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}
.fa-github::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}

.fa-search::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}

.fa-envelope-o::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}

.fa-times-circle-o::before{
  color:crimson;
  font-size: 60px;
  font-weight: lighter;
  cursor: pointer;
  transform: rotate(90deg);
  transition: 1s linear;
}

.fa-search:hover{
  font-size: 1.2em;
  color: #5198B8;
}

.fa-twitter:hover{
  font-size: 1.2em;
  color: #35D7DB;;
}

.fa-github:hover{
  font-size: 1.2em;
  color: #44AD63;
}

.fa-times-circle-o:hover{
  transition: 0.5s linear;
  transform: rotate(45deg);
}

.mids{
  border-right: 1px solid #4f4f4f;
}

//Search overlay
.search-overlay {
    height: 0%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(220,20,60,0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.search-overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 10;
}

.search-full {
  height:100%;
}


//actual form styling
  #search-container h4{
    width: 50%;
    margin: auto;
  }

 .search-form{
 display:flex;
 margin-top: 10%;
 margin-bottom: 10%;
 margin-right: 10%;
 }

.search-form > label{
  flex: 4;
}

.search-form > label > .search-field{
  width: 90%;
}

.search-form > input[type=submit]{
  flex: 1;
}

.search-field{
border-radius: 1px!important;
height: 50px;
}


//Nav Media

//Nav Media Query to re-align elements to column
@media (max-width:730px) and (min-width:0px) {
  #myNav_container{
    flex-flow: column;
    display: block;
    margin-top: -10px;
  }


  #rightElements{
    flex: 1;
    justify-content: left;
    margin: 0 auto;
  }

  #myForm{
    display: none;
  }


  .burger-nav {
    width: 60px;
    height: 10px;
  }


  .fs-social-hr{
    display: none;
  }
  //search
  #search-container{
    margin-top: 35%;
  }
  #search-container .search-form{
    display: unset;
    margin-top: 50%;
  }

  #search-container h4{
    margin-bottom: 15px;
  }

  #search-container .search-form .search-field{
    height: 75px;
  }
#search-container .search-form .search-submit{
    margin-top: 15px;
  }
  .search-form > label > .search-field::placeholder{
    font-size: 1em;

  }
  .search-full {
    height:175%;
  }

}

@media screen and (min-width:731px) {
//hide the icons along the bottom of the nav
.socialHr, #social_nav_container{
  display: none;
 }

}

@media (max-width:490px) and (min-width:0px) {
  #myForm{
    max-width: 100%;
  }

}
