
//hamburger icon
.burger-nav {
  position: fixed;
  right: 25px;
  top: 15px;
  color: #FF8D82;
  z-index: 8888;
  padding: 0px;
  transform: rotate(-90deg);
  letter-spacing: 7px;
  font-size: 50px;
  cursor: pointer;
  font-family: $hand;
}

//nav movement classes

.overlay {
    transition: 0.2s;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
}



// toggle to show nav
.show-nav{
  width:100%;
  opacity: 1;
}

//surrounds all the nav elements from inside the #myNav container
#myNav_container{
display: -webkit-box;
display: -moz-box;
width: 76%;
margin: 0 auto;
max-width: 1500px;
}

//left Elements -- elements to be displayed on the left
#leftElements{
flex: 1;
text-align: left;
}

//right Elements -- elements to be displayed on the right
#rightElements{
  flex: 1;
  justify-content: center;
}


#myNav nav ul {
  list-style: none;
  padding-left: 0px;
}


#primary-menu{

}

.sub-menu{
max-width: 69%;
}

#myNav nav ul li a{
text-decoration: none;
}

.overlay-content {
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

//contact form in nav
#myForm{
flex: 1;
text-align:left;
color: #4f4f4f;
}

.formFlex{
 flex: 1;
 width:95%;
 margin: 0px 0px 10px 0px;
}

#myForm h3{
  margin-bottom: 5px;
}

#myForm button{
  width: 30%;
  color: white;
  justify-content: right;
  padding: 15px 0 15px 0;
  background-color: #4f4f4f;
  border-radius: 5px;
}

#myForm #message{
  min-height: 200px;

}

//search button

.search-container{
display: table;
margin-top:100px;
}

//font awrsome icons

#social_nav_container{
width: 100%;
}

#social_nav_container a{
text-decoration: none;
color: #4f4f4f !important;
}


.social-nav-inner-container{
  display: inline-block;
  text-align: center;
  width: 32%;
  margin-bottom: 8px;
  padding: 5px;
}

//full screen nav
#fs_social_nav_container{
position: absolute;
top:30px;
right: 5px;
width: 74px;
display: grid;
}

#fs_social_nav_container a{
text-decoration: none;
color: #4f4f4f !important;
}

.fs-social-nav-inner-container{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.fs{
  float: right;
  margin-right: 20px;
}

.fa-twitter::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}
.fa-github::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}

.fa-search::before{
  font-size: 2em;
  cursor: pointer;
  transition: 0.2s linear;
}

.fa-times-circle-o::before{
  color:#FF8D82;
  font-size: 60px;
  font-weight: lighter;
  cursor: pointer;
  transform: rotate(90deg);
  transition: 1s linear;
}

.fa-search:hover{
  font-size: 1.2em;
  color: #5198B8;
}

.fa-twitter:hover{
  font-size: 1.2em;
  color: #35D7DB;;
}

.fa-github:hover{
  font-size: 1.2em;
  color: #44AD63;
}

.fa-times-circle-o:hover{
  transition: 0.5s linear;
  transform: rotate(45deg);
}

.mids{
  border-right: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f;
}



//Search button

#search-container{
  height: auto;
}

.search-overlay{
  transition: 0.2s;
  height: 100px;
  width: 0;
  z-index: 1;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 1);
  overflow-x: hidden;
  margin-bottom: 25px;
}

.show-search{
  width: 100%;
}

.search-field{
width: -moz-available;
width:  -webkit-fill-available;
}

input[type=submit]{
color: #fff;
background-color: #4f4f4f;
width: 30%;
text-align: center;
height:44px;
border-radius: 5px;
}
//Nav Media

//Nav Media Query to re-align elements to column
@media (max-width:730px) and (min-width:0px) {
  #myNav_container{
    flex-flow: column;
    display: block;
    margin-top: -10px;
  }
.search-form{
  height:130px;
}


 .fs-social-hr{
    display: none;
  }
  .sub-menu hr:last-child{
    display: none;
  }
}

@media screen and (min-width:731px) {
#social_nav_container, .socialHr{
  display: none;
}

}
