



.menu-nav-container ul li .sub-menu .menu-item{
  padding-left: 0px;
  margin-bottom: 0px;
  background-color: #FFF;
}


.menu-nav-container{
  height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav-container ul{
   width: auto;
   list-style: none;
   padding-left: 0px;
}

.menu-nav-container ul li{
   display: inline-block;
}

.sub-menu{
  display: none;
  opacity: 0;
}
